<footer class="footer py-3" style="height: 40px">
    <div class="container text-light">   
        <div class="row h-100 justify-content-center align-items-center">     
        <a target="_blank" class="px-2" href="https://sso2.premierinc.com/views/terms">Terms and Conditions </a> |
        <a target="_blank" class="px-2" href="https://sso2.premierinc.com/views/privacy">Privacy Policy </a> |
       <span class="px-2"> Premier Solution Center - <a href="tel:+18777771552">877.777.1552</a> </span>
        </div>
    </div>
</footer>