<app-header></app-header>
<div class="container-fluid">
        <div class="bg-white">
                <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                        <!-- ROW 1 Start-->
                <div class="row py-3">
                        <div class="col-md-2">                                
                                <a routerLink="/requisitioning">
                                        <img id="Requisitions" class="rounded-circle border border-dark homeIcon pull-right" src="./assets/requisitions.png">
                                </a>  
                        </div>

                        <div class="col-md-2 align-self-center">                                        
                               <a class="text-secondary" routerLink="/requisitioning">Requisitioning</a>
                        </div>

                        <div class="col-md-2">
                                <a routerLink="/payments">
                                        <img id="payments" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/payments.png">
                                </a>
                        </div>
                        <div class="col-md-2 align-self-center">
                                   <a class="text-secondary" routerLink="/payments">Payments</a>
                        </div>
                        <div class="col-md-2">                                
                                        <a routerLink="/inventory">
                                                <img id="inventory" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/inventory.png">
                                        </a>  
                                </div>
        
                                <div class="col-md-2 align-self-center">                                        
                                        <a class="text-secondary" routerLink="/inventory"> Inventory</a>
                        </div>
                </div>
                <!-- ROW 1 End-->

                <!-- ROW 2 Start-->
                <div class="row py-3">
                                <div class="col-md-2">
                                        <a routerLink="/finances">
                                                <img id="finances" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/finances.png">
                                        </a>
                                </div>
                                <div class="col-md-2 align-self-center">
                                        <a class="text-secondary" routerLink="/finances">Finances</a>
                                </div>
                                <div class="col-md-2">                                
                                                <a routerLink="/purchasing">
                                                        <img id="purchasing" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/purchasing.png">
                                                </a> 
                                        </div>
                
                                        <div class="col-md-2 align-self-center">                                        
                                                <a class="text-secondary" routerLink="/purchasing">Purchasing</a>
                                        </div>
                
                                        <div class="col-md-2">
                                                <a routerLink="/administration">
                                                        <img id="administration" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/administration.png">
                                                </a>
                                        </div>
                                        <div class="col-md-2 align-self-center">
                                                        <a class="text-secondary" routerLink="/administration">
                                                                Admin
                                                        </a>
                                        </div>
                </div>

                <!-- ROW 1 End-->

                <!-- ROW 3 Start-->
                <div class="row py-3">
                                <div class="col-md-2">
                                                <a href="https://code.premierinc.com/docs/rest/gliffy/1.0/embeddedDiagrams/f6291ce6-bd4d-43cb-9fe0-02561d260295.png" target="_blank">
                                                        <img id="finances" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/contract.png">
                                                </a>
                                        </div>
                                        <div class="col-md-2 align-self-center">
                                                <a class="text-secondary" href="http://c12qiapp01/ematerials/temp/AWBQA.html" target="_blank">Contract</a>
                                        </div>
                                        <div class="col-md-2">                                
                                                        <a target="_blank" href="http://s2qiinsweb1.qains.premierinc.com:9090/">
                                                                <img id="purchasing" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/budget.png">
                                                        </a> 
                                                </div>
                        
                                                <div class="col-md-2 align-self-center">                                        
                                                        <a class="text-secondary" target="_blank" href="http://s2qiinsweb1.qains.premierinc.com:9090/">Budget</a>
                                                </div>
                </div>
                <!-- ROW 3 End-->
        </div>
        <div class="col-md-2">
                <div class="card-deck pr-3 pt-3">
                        <div class="card bg-white">
                                <div class="card-body text-center">
                                        <p class="card-text h6">Helpful Links</p>
                                        <div class="list-group list-group-flush">
                                                <a href="http://c12qiapp01/ematerials/help/ServicePack.htm" target="_blank" class="list-group-item list-group-item-action text-primary">What's New</a>
                                                <a href="https://na26.salesforce.com/sserv/login.jsp" target="_blank" class="list-group-item list-group-item-action text-primary">Customer Care Center</a>
                                                <a href="#" class="list-group-item list-group-item-action text-primary">Online Training</a>
                                                <a href="#" class="list-group-item list-group-item-action text-primary">Online Help</a>
                                                <a href="https://proclick.mediclick.com/ematerials/include/blog/ThisHotfix.pdf" target="_blank" class="list-group-item list-group-item-action text-primary">Update Notes</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        </div>
</div>
</div>
<app-footer></app-footer>