<div class="row py-3">
        <div class="col-md-2">
                <a routerLink="orderguides">
                        <img id="orderGuides" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/orderGuides.png">
                </a>
        </div>
        <div class="col-md-2 align-self-center">
                <a class="text-secondary" routerLink="orderguides">Order Guides</a>
        </div>





        <div class="col-md-2">
                <a routerLink="./requisitions">
                        <img id="Requisitions" class="pull-right rounded-circle border border-dark homeIcon" src="./assets/requisitions.png">
                </a>
        </div>
        <div class="col-md-2 align-self-center">
                <a class="text-secondary" routerLink="./requisitions">Requisitions</a>
        </div>
</div>