<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <img class="mx-auto d-block py-3" alt="PremierConnect" width="250" src="./assets/logo-premier-connect-white-1.png">
      <div class="row">
        <div class="col-md-6 mx-auto">

          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Login</h3>
            </div>
            <div class="card-body">
              <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <label for="username">Username</label>
                  <input type="text" placeholder="Enter User Name" class="form-control" name="username" [(ngModel)]="user.userId" #username="ngModel"
                    required />
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="user.password" #password="ngModel"
                    required />
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
                <div class="form-group">
                  <label for="customerId">ERP CustomerId</label>
                  <input type="text" class="form-control" name="customerId" [ngModel]="user.CustomerId" #password="ngModel" disabled />
                </div>
                <!--
                <div class="form-group">
                  <label for="erpUserId">Erp UserId</label>
                  <input type="text" class="form-control" name="erpUserId" [ngModel]="user.erpUserId" #password="ngModel" disabled />
                </div>
                <div class="form-group">
                  <label for="erpPassword">ERP Password</label>
                  <input type="password" class="form-control" name="erpPassword" [ngModel]="user.erpPassword" #password="ngModel" disabled
                  />
                </div>
              -->
                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">Login</button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                  />
                </div>
              </form>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->