<div class="row py-3">
    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="users">
                                    <img id="Users" class="rounded-circle border border-dark homeIcon" src="./assets/vendors.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a class="text-secondary" routerLink="users">Users</a>
                    </div>
            </div>
    </div>

    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="settings">
                                    <img id="Settings" class="rounded-circle border border-dark homeIcon" src="./assets/settings.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a class="text-secondary" routerLink="settings">Settings</a>
                    </div>
            </div>

    </div>
</div>
<div class="row py-3">
    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="monitoring">
                                    <img id="Monitoring" class="rounded-circle border border-dark homeIcon" src="./assets/monitoring.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a class="text-secondary" routerLink="monitoring">Monitoring</a>
                    </div>
            </div>
    </div>
</div>