<div class="row py-3">
    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="itemcatalog">
                                    <img id="ItemCatalog" class="rounded-circle border border-dark homeIcon" src="./assets/itemCatalog.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a class="text-secondary" routerLink="itemcatalog">Item Catalog</a>
                    </div>
            </div>
    </div>

    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="iteminventory">
                                    <img id="ItemInventory" class="rounded-circle border border-dark homeIcon" src="./assets/inventory.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a class="text-secondary" routerLink="iteminventory">Item Inventory</a>
                    </div>
            </div>

    </div>
</div>
<div class="row py-3">
    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="receiving">
                                    <img id="Receiving" class="rounded-circle border border-dark homeIcon" src="./assets/receiving.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a class="text-secondary" routerLink="receiving">Receiving</a>
                    </div>
            </div>
    </div>
</div>