<div class="row py-3">
    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="dashboards">
                                    <img id="dashboards" class="rounded-circle border border-dark homeIcon" src="./assets/dashboards.png">
                            </a>
                    </div>
                    <div class="pull-left">
                                <a class="dropdown-item" target="_blank" href="https://c3tufireball1.premierinc.com:8443/payforperformance">Dashboards</a>
                    </div>
            </div>
    </div>
</div>