<div class="row py-3">
    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="invoices">
                                    <img id="Invoices" class="rounded-circle border border-dark homeIcon" src="./assets/invoices.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a routerLink="invoices">Invoices</a>
                    </div>
            </div>
    </div>

    <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
                    <div class="col-sm-4">
                            <a routerLink="exceptions">
                                    <img id="Exceptions" class="rounded-circle border border-dark homeIcon" src="./assets/exceptions.png">
                            </a>
                    </div>
                    <div class="pull-left">
                            <a routerLink="exceptions">Exceptions</a>
                    </div>
            </div>

    </div>
</div>